body {
  margin: 0;
}

div {
  width: 80px;
  height: 80px;
  display: inline-block;

  position: relative;
}


.cornerTL {
  width: 80px;
  height: 80px;
  display: inline-block;
  float: left;
  border: 2px solid black;
  clear: both;
}

.cornerTR {
  width: 80px;
  height: 80px;
  display: inline-block;
  float: left;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.tileT {
  width: 60px;
  height: 80px;
  display: inline-block;
  float: left;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.square {
  display: inline-block;
  width: 80px;
  height: 60px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  float: left;
  clear: both;
}

.square1 {
  display: inline-block;
  width: 80px;
  height: 60px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  float: left;
}

.middleSpace {
  display: inline-block;
  width: 556px;
  height: 60px;

  float: left;
}

.cornerBL {
  width: 80px;
  height: 80px;
  display: inline-block;
  float: left;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  clear: both;
}

.cornerBR {
  width: 80px;
  height: 80px;
  display: inline-block;
  float: left;

  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.tileB {
  width: 60px;
  height: 80px;
  display: inline-block;
  float: left;

  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.middleSpaceB {
  display: inline-block;
  width: 556px;
  height: 60px;

  float: left;
  border-bottom: 2px solid black;
}

.piece {
  width: 10px;
  height: 10px;
  /*top: 679px;
  left: 668px;*/
  top: 35px;
  left: 35px;
  position: absolute;
  display: inline-block;
  border: 2px solid red;
}
