/*html, body {margin: 0; height: 100%; overflow: hidden}*/

/*#container{
	width:80%;
	height:60%;
	position:absolute;
	text-align:center;
}*/

#wrapper{
	left:0px;
	width:1000px;
	height:600px;
	border:1px solid lime;
	background-color:black;
  display: inline-block;
}

#player1, .point {
  float: left;
  clear: both;
}

body{
	background-color:black;
}

#container {
  display: inline-block;
  width: 90%;
  /*padding-left: 30px;
  padding-top: 30px;*/
}

#ps1, #ps2 {
	color:white;
	font-size:100%;
  display: inline-block;
  float: right;
  clear: both;
}

input {
  display: inline-block;
  float: right;
}
